*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  // width: 100%;
  // height: 100%;
  border: 1px solid white;
  background-color: pink;
  
}


.general{
  width: 50%;
  height: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  // border: 1px solid blue;
  margin-top: 20px;
  

}

.era{
  width: 30rem;
  background-color: white;
  padding: 20px;
  padding-top: 25px;
  

  
  
  

}
.image > img{
width: 30rem;
height: 32rem;

  
  
  
  
  
  
  
}
 
p{
  
}

button{
  background-color: green;
  border: none;
  font-weight: bold;
  padding: 22px;
  margin-left: 5rem;
  color: white;
  padding-right: 80px;
  border-radius: 5px;
}

input{
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-right: 150px;
}

span{
  color: rgb(21, 131, 131);
}

.line{
  color: black;
  opacity: 0.5;
  margin-top: 20px;
}

.logo1{
  border: 1px solid;
  margin-right: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}

.logo1{
  
  border: 1px solid;
  margin-left: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;

}

.logo{
  display: flex;
  // justify-content: center;
  // align-items: center;
  // margin-left: 650px;
} 


h1{
  margin-bottom: 20px;
  margin-left:150px;
}

.paragraph{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

 
  
  
